/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  font-family: var(--main-font, Courier, monospace);
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 360px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: start;
  padding: var(--space);
  min-block-size: 768px;
  height: 100vh;
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    align-items: center;
  }
}
@media (max-width: 376px) {
  .header {
    justify-content: center;
    padding: 10px;
    min-block-size: 668px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: var(--element-size);
  height: var(--element-size);
  border-color: var(--border-color);
}

.decorated-zone::before {
  bottom: var(--space);
  left: var(--space);
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
}

@media (max-width: 376px) {
  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }
}

.decorated-zone::after {
  top: var(--space);
  right: var(--space);
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
}

@media (max-width: 376px) {
  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }
}

.header__theme-menu {
  justify-self: center;
}

@media (max-width: 768px) {
  .header__theme-menu {
    justify-self: end;
  }
}

.header__theme-menu-list {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    grid-auto-flow: initial;
  }
}
/*
.header__theme-menu-item {
}
*/
.header__theme-menu-button {
  border: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 0 13px 2px 13px;
  color: var(--button-text-color);
  font-weight: 400;
  font-size: var(--font-size);
  text-decoration: none;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color-button);
}

.header__theme-menu-button:focus {
  outline: none; /* Убираем стандартное выделение */
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  cursor: default;
  pointer-events: none;
}
/*
.header__theme-menu-button_type_light {
}
.header__theme-menu-button_type_auto {
}
.header__theme-menu-button_type_dark {
}*/
.header_main-heading {
  position: relative;
  left: -2vw;
  color: var(--main-heading-color, #db00ff);
  font-family: var(--main-font, Courier, monospace);
  font-weight: var(--font-weight);
  font-size: var(--logo-size);
  line-height: 0.825;
  text-align: left;
  text-shadow: 4px 4px 0 var(--color-shadow);
}

@media (max-width: 768px) {
  .header_main-heading {
    left: -3vw;
  }
}

@media (max-width: 376px) {
  .header_main-heading {
    left: 0;
    align-self: center;
    line-height: 82.5%;
  }
}

.title_text {
  justify-self: flex-end;
  align-self: center;
  max-width: 50%;
  overflow-wrap: break-word; /* гибкий перенос текста */
  color: var(--title-color, #000028);
  font-family: var(--main-font, Courier, monospace);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 130%;
  text-align: left;
  transition: width 0.3s ease;
}

@media (max-width: 767px) {
  .title_text {
    max-width: 80%;
  }
}

@media (max-width: 376px) {
  .title_text {
    justify-self: center;
    max-width: 100%;
  }
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--title-color);
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center;
  gap: 10px;
}

@media (max-width: 376px) {
  .header__rec {
    top: 10px;
    right: 19px;
  }
}

.header__rec::before,
.header__rec::after {
  color: var(--accent-color, #ff0070);
}

.header__rec::before {
  content: "REC";
  /* исправлено */
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  top: 28px;
  right: 29px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
  background-color: var(--accent-color, #ff0070);
}
/*секции главные*/
.main {
  margin-block: var(--main-section-spacing);
}

.section {
  margin-inline: var(--margin-inline);
  margin-block-end: var(--margin-sn-end);
}

.section-figure {
  margin-inline: var(--margin-inline);
  margin-block-end: var(--margin-sn-end-img);
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

@media (max-width: 768px) {
  .hero-section {
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .hero-section {
    grid-template-columns: 1fr; /* Переход на одну колонку */
    grid-template-rows: auto; /* Высота элементов по содержимому */
  }
}

.section__main-heading {
  color: var(--heading-color, #ff0070);
  font-family: var(--main-font, Courier, monospace);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: left;
}
/*.article {
}*/
.article__heading {
  margin-block-end: var(--title-paragraph-spacing);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

.article__text {
  justify-self: start;
  align-self: start;
  color: var(--text-color, #f1b2ce);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
  word-wrap: break-word;
}

.article-reordered {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  gap: var(--space);
}

.section__article-text-link {
  padding: 0 2px;
  text-decoration: none;
  text-shadow: 3px 2px var(--accent-color, #ff0070);
}

.section__article-text-link:focus {
  outline: 0;
}

.section__article-text-link:focus-visible {
  outline: 1px solid currentColor;
}

.section__article-text-link:hover {
  border-bottom: 1px solid currentColor;
}
.section-content {
  display: grid;
  grid-template-columns: auto;
  gap: var(--space);
}
.section-content .section__main-heading {
  max-width: 315px;
}
@media (max-width: 768px) {
  .section-content .section__main-heading {
    max-width: 236px;
  }
}
.content-block-concentrate {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки одинаковой ширины */
  gap: var(--space);
}

@media (max-width: 800px) {
  .content-block-concentrate {
    grid-template-columns: auto;
  }
}

.article__actions-heading {
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
  word-wrap: break-word;
}

.title-medium {
  margin-block-end: var(--space);
  font-family: var(--main-font, Courier, monospace);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: left;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}
/*.actions-list {
}*/
.section_main-list {
  display: grid;
  grid-template-columns: minmax(236px, 1fr) 2fr;
  gap: 10px;
}

/*запрос для ширины экрана 768px и меньше */
@media (max-width: 768px) {
  .section_main-list {
    gap: 20px;
  }
}

/*запрос для ширины экрана 375px и меньше */
@media (max-width: 550px) {
  .section_main-list {
    grid-template-columns: 1fr; /* Переход на одну колонку */
    grid-template-rows: auto; /* Высота элементов по содержимому */
  }
}

/*.section-heading {
}
.section__image {
}
.gallery__item {
}
*/
.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: contain;
}

.section__image {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: var(--space-gap);
}

.gallery__item {
  width: 100%;
  height: 100%;
  margin: 0;
}
.gallery__item:nth-child(1) {
  grid-column: span 2;
}
.gallery__item:nth-child(2) {
  grid-row: span 2;
}
.gallery__item:nth-child(3) {
  grid-row: span 2;
}
.gallery__item:nth-child(5) {
  grid-column: span 2;
}

@media (max-width: 376px) {
  .section__image {
    display: flex;
    flex-direction: column; /* Все элементы в один столбец */
  }
}
@media (max-width: 376px) {
  .title-heading-img {
    margin-block-end: 10px;
  }
}
/* футер */

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: var(--space);
  height: 100vh; /* Изменено */
  min-height: 668px; /* добавлено */
}

.footer__heading {
  align-self: center;
  color: var(--main-heading-color, #db00ff);
  font-family: var(--main-font, Courier, monospace);
  font-weight: var(--font-weight);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 2px 2px 0 var(--color-shadow);
}
@media (max-width: 376px) {
  .footer__heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
  }
}
