/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex mono';
  --space: 20px;
  --element-size: 25px;
  

}
/*
@media (width >= 768px) {
  :root {
      
  }
}
*/