/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex mono";
  --font-weight: 700;
  --line-height: 23.4px;
  --font-size: 18px;
  --space: 20px;
  --margin-inline: 20px;
  --element-size: 25px;
  --title-paragraph-spacing: 10px;
  --margin-end: 20px;
  --margin-sn-end: 80px;
  --margin-sn-end-img: 60px;
  --main-section-spacing: 60px;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #000028;
  --heading-color: #ff0070;
  --main-heading-color: #db00ff;
  --text-color: #f1b2ce;
  --button-text-color: #ff0070;
  --border-color: #ff0070;
  --border-color-button: rgb(255 0 112 / 0.4);
  --color-shadow: #ff0070;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --space-gap: 20px;
}
.header__rec {
  display: block;
}

@media (max-width: 376px) {
  :root {
    --main-section-spacing: 40px;
    --margin-sn-end: 50px;
    --margin-sn-end-img: 40px;
    --margin-inline: 10px;
    --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --space-gap: 10px;
  }
}
